<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!--  springProperty 엘리먼트를 사용해서 application.properties의 name/value 값을 활용할 수 있음. -->
    <springProperty scope="context" name="maxSize" source="logging.file.max-size" defaultValue="5MB"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                LOGBACK:%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </encoder>
    </appender>
    <property name="DEV_HOME" value="./logs" />
    <appender name="FILE-STDOUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${DEV_HOME}/dev.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                LOGBACK:%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${DEV_HOME}/dev.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${maxSize}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!-- springProfile을 사용해서 development 환경과 production 환경을 구분하여 로그파일을 설정 할 수 있음. -->
    <springProfile name="dev">
        <logger name="org.springframework.web" level="DEBUG"/>
        <logger name="org.kang" level="DEBUG" additivity="false">
            <appender-ref ref="STDOUT" />
            <appender-ref ref="FILE-STDOUT" />
        </logger>
        <root level="DEBUG">
            <appender-ref ref="STDOUT" />
            <appender-ref ref="FILE-STDOUT" />
        </root>
    </springProfile>

    <springProfile name="prod">
        <logger name="org.springframework.web" level="INFO"/>
        <logger name="org.kang" level="INFO" additivity="false">
            <appender-ref ref="STDOUT" />
            <appender-ref ref="FILE-STDOUT" />
        </logger>
        <root level="INFO">
            <appender-ref ref="STDOUT" />
            <appender-ref ref="FILE-STDOUT" />
        </root>
    </springProfile>

</configuration>